body{
    background-color:#a3c5f4;
  }
  
  .page-box{
    background:#5e75c7;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .page-heading{
    color:#f4f3f0;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-label{
    font-weight: 600;
  }
  
  .form-control{
    border-radius: 8px;
  }
  
  .form-control:focus{
    box-shadow: 0 0 8px rgba(13,110,253,0.25);
    border-color: #0d6efd;
  }
  
  .btn{
    border-radius: 8px;
    min-width: 120px;
  }

  /* Page heading */
.page-heading {
    font-weight: bold;
    color: #2c3e50;
}


/* Table container */
.table-responsive {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}


/* Table */
.table {
    margin-bottom: 0;
    background-color: white;
}


/* Table header */
.table thead th {
    background-color: #021e3a;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 16px;
}


/* Table rows */
.table tbody td {
    text-align: center;
    padding: 14px;
    vertical-align: middle;
    font-size: 15px;
}


/* Hover effect */
.table tbody tr:hover {
    background-color: #f1f5ff;
    transform: scale(1.01);
    transition: 0.3s ease;
}


/* Employee code */
.table tbody td strong {
    color: #02265c;
}


/* Badge design */
.badge {
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 20px;
}



@media(max-width:768px){

    .table thead th {
        font-size: 13px;
        padding: 10px;
    }


    .table tbody td {
        font-size: 13px;
        padding: 10px;
    }

}